<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/gallery']">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="(user|async)?.uid">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/gallery']">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li *ngIf="(user|async)?.uid" class="nav-item"> -->
      <li class="nav-item">
          User: {{(user|async)?.email}}
      </li>
      <li class="nav-item">
        <a routerLink="/upload" class="nav-link">
          Upload
        </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form *ngIf="(user|async)?.uid" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <ul class="navbar-nav mr-auto">
    <li *ngIf="!(user|async)?.uid" class="nav-item">
      <a routerLink="/login" class="nav-link">
        Login
      </a>
    </li>
    <li *ngIf="(user|async)?.uid" class="nav-item">
      <a href="#" (click)="logOut()" class="nav-link">
        Logout
      </a>
    </li>
  </ul>
</nav>


</div>
