.container{
    color: #FFF;
    margin-top: 12%;
    background-color: #707070;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 60%;
    padding: 5%;
    border-radius: 3px;
}

button{
    height: 60px;
    margin-top: 20ps;
    width: 100%;
}

input{
    font-size: 20px;
    line-height: 60px;
    height: 60px;
}