<div class="container">
  <form #loginForm="ngForm">
    <h1 class="login-title">Login</h1>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" #emailControl="ngModel" 
      placeholer="Email" [(ngModel)]="email" name="email" maxlength="80" email required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" #passwordControl="ngModel" 
      placeholer="Password" [(ngModel)]="password" name="password" maxlength="80" type="password" required>
    </div>
    <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-info btn-lg"
    (click)="signIn()">Signin</button>
    <p *ngIf="error" class="text-danger">{{error}}</p>
  </form>
</div>
