<div class="container">
  <h1> GALLERY </h1>
  <!-- <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='water'" (click)="filterBy='water'">Water</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='land'" (click)="filterBy='land'">Land</button> -->
  <div class="row">
    <ul id="thumbnailsList">
      <li *ngFor="let picture of visiblePictures | async" class="img"><!-- async pipe: subscription to picture service Obsv.  ##ql-->
        <a [routerLink] = "['/picture', picture.$key]">
          <img src="{{picture.url}}" class="thumbnail" width="200" height="200"> 
        </a> 
      </li>
    </ul>
  </div>
</div>


