<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="container" style="background-color: #9bf7ce;">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <h2 style="text-align:center">Here will be the chucku board</h2>

  <router-outlet></router-outlet>

</div>


