<div class="container">
  <h2 class="heading">Upload New Picture(s)</h2>
  <input type="file" (change)="handleFiles($event)" multiple>
  <button class="btn btn-primary" (click)="uploadFiles()">Upload Picture(s)</button>
  <div *ngIf="upload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{'width': upload?.progress + '%'}">
      </div>
    </div>
    Progress: {{upload?.progress}}% Complete
  </div>
</div>
